<h1>Instrucciones</h1>
<h2>Bajar el repo</h2>
<h3>Clone inicial</h3>
git clone git@bitbucket.org:guarneralafrocerulli/tp4-taller.git
</br>
<h3>Guardar cambios</h3>
El proceso de subir cambios se divide en 3 etapas:
<ul>
	<li>git add: marca los cambios a guardar</li>
	<li>git commit: guarda los cambios en el repositorio local</li>
	<li>git push: sube los cambios del repo local al remoto</li>
</ul>
<h3>Bajar cambios</h3>
Para bajar cambios, es bastante recomendable (a veces obligatorio si existen colisiones en los cambios) que hagan un commit primero. Después hacen git pull y se mergea todo. Si hay conflictos en el merge, les va a pedir que los arreglen y hagan un commit del merge.
Hay un comando copado que hace commits temporales y deja el "stage" sin cambios: git stash. Para volver a los cambios usan git stash pop... no lo usen hasta que tengan canchero el uso del git.
<h2>Compilar</h2>
cmake .
make
<h2>Agregar sources<h2>
Cada "mini proyecto" tiene una carpeta asignada, en common van las clases compartidas.
Agregar en el archivo CMakeLists.txt del proyecto los .cpp a compilar (los headers los busca solos).
Los flags de compilación se pueden agregar en el CMakeLists de la raiz. Se deberían poder agregar para cada proyecto
específico, pero no me acuerdo como se buscaba :P
